{# index view #} {% extends 'base.html.twig' %} {% block body %}

<div id="adminarticle" class="adminarticle">
        <h2>Admin's article's page</h2>
        <div id="searchBar" class="searchBar">
            <label for="searchByTag">Article's tag</label>
                <input id="searchTagBar" class="SearchTagBar" name="searchTagBar" placeholder="Enter a tag for the article">
            <input type="submit" class="tagSearchButton" name="tagSearchButton" value="Search!">
        </div class="adminarticleform">
            <form action="" method="post" id="formArticleData">
                <label for="id">Article's Id</label>
                    <input id="id" class="id" name="id" placeholder="id">
                <label for="title">Article's title</label>
                    <input id="title" class="title" name="title" placeholder="Article's title">
                <label for="author_id">Article's author id</label>
                    <input id="author_id" class="author_id" name="author_id" placeholder="Author's id">
                <label for="text">Text of the article</label>
                    <input id="text" class="text" name="text" placeholder="Text">
                <input type="submit" name="articleCreate" class="articleCreateButton" value="Create article!">
                <input type="submit" name="articleUpdate" class="articleUpdateButton" value="Update article!">
                <input type="submit" name="articleDelete" class="articleDeleteButton" value="/!\ DELETE article /!\">
            </form>
        </div>
    </div>

{% endblock %}
